:root {
  --clr: black;
  --bgClr: rgb(233, 233, 233, 0.7);
  --fntFm: "Comics Sans MS", cursive, sans-serif;
}

body {
  font-family: var(--fntFm);
}

.app-container {
  background-image: url("https://www.i-host.gr/Content/customers/img/jackie/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.venue-logo {
  background-image: url("../../../assets/img/jackieo-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.redirect-link {
  background-color: var(--bgClr);
}

.top-region .selected-language {
  color: var(--clr);
  border: none !important;
}

.top-region .lang-list {
  color: var(--clr);
  background-color: var(--bgClr);
}

.button-links button {
  background-color: var(--bgClr);
}

.form {
  color: black;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5em;
  border: 2px solid rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
}

/* χρειάζεται, αλλιώς χρησιμοποιεί την προεπιλεγμένη γραμματοσειρά */
input {
  font-family: var(--fntFm);
}

.custom-submit-btn {
  margin: 1em;
  padding: 0.4em;

  font-weight: 700 !important;
  border-radius: 0.2em;
  transition: 0.5;
}
#disabled-submit-btn {
  cursor: not-allowed;
  color: rgb(1, 1, 1, 0.5);
}
#enabled-submit-btn:hover {
  /* background-color: rgba(255, 64, 129, 0.8); */
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  border-radius: 0.2em;
}

.message {
  background-color: var(--bgClr);
}

.thanks-message {
  background-color: var(--bgClr);
}
